<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--	上面的依赖可以从mybatis中文网复制	-->
<!-- namespace属性为Mapper接口全限定名一致 -->
<mapper namespace="com.jeffrey.jeffreysblog.mapper.ProjectMapper">
    <!--  id为Mapper接口中对应的方法名，resultType为返回的实体全类名  -->
    <insert id="addProject" parameterType="com.jeffrey.jeffreysblog.entity.Project">
        INSERT INTO project(projectId,title,intro,date,content) VALUES (#{project.projectId},#{project.title},#{project.intro},#{project.date},#{project.content})
    </insert>

    <delete id="deleteProject" parameterType="String">
        DELETE FROM project WHERE projectId = #{projectId}
    </delete>

    <update id="updateProject" parameterType="com.jeffrey.jeffreysblog.entity.Project">
        UPDATE project SET title=#{project.title},content=#{project.content},date=#{project.date} WHERE projectId=#{project.projectId}
    </update>

    <select id="getProjectById" parameterType="String">
        SELECT * FROM project WHERE projectId=#{projectId};
    </select>

    <select id="getRangeProjects" parameterType="int">
        SELECT * FROM project order by date DESC LIMIT #{count} OFFSET #{beginIndex}
    </select>

    <select id="getAllProjects">
        SELECT * FROM project
    </select>

    <select id="getLength" resultType="int">
        SELECT COUNT(*) FROM project
    </select>

</mapper>